@model IEnumerable<PrehistoryWebsite.Domain.Tag>
@using PrehistoryWebsite.Models

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
}

@section CSS{
    <link href="~/Content/themes/others/tag%20brick%20style.css" rel="stylesheet" />
}



@{
    string succeededMessage = ViewBag.Succeeded;
    @Html.ShowMessages(ViewData.ModelState.IsValid, succeededMessage)
}


<div class="panel panel-default">
    <div class="panel-body">

        <div class="m-bottom-12">
            <input id="searchTextBox" type="text" value=""/>
            <input id="searchButton" class="btn btn-primary" type="button" value="Buscar"/>
            </div>

        @Html.Partial("_Add", model: new PrehistoryWebsite.Models.StringModel { St = "" })

    </div>
    <div class="panel-body">

        @foreach (var item in Model)
        {
            <span class="BrickStyle">
                @Html.ActionLink(item.nameTag, "Edit", "Tag", new { tagSlug = item.urlSlug }, new { @class="tag_name"})
                @Html.ActionLink("x", "Delete", "Tag", new { tagSlug = item.urlSlug }, new { onclick = "return confirm('" + SystemMessages.WarnningDelete + "');" })
            </span>
        }


    </div>
</div>

@section ScriptEnd{

    <script>
    $(document).ready(function(){
    
        $("#searchButton").click(function () {

            // get value
            var valueSearch = $("#searchTextBox").val();

            // clearing previous searchings
            $(".BrickStyle").removeClass("BrickStyle_highlight");

            $(".BrickStyle").each(function () {
                // check both in upper case
                if ($(this).children(".tag_name").text().toUpperCase() == valueSearch.toUpperCase()) {
                    // add the new class with different background color
                    $(this).addClass("BrickStyle_highlight");
                }
            })
        })

    })
        </script>
}
