@model PrehistoryWebsite.Models.SEOModel

<label>Título</label>
@Html.TextBoxFor(x=>x.Title)
<label>Descripción</label>
@Html.TextBoxFor(x=>x.Description)
<label>Palabras clave</label>
@Html.TextBoxFor(x=>x.Keywords)